<!DOCTYPE html>
<html>
  <head>
    <title>大杂烩后台</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>大杂烩后台服务成功启动！</h1>
    <p>Welcome to 大杂烩</p>
  </body>
</html>
